html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "Nexa";
  font-weight: 300;
  src: url("/fonts/Nexa.ttf") format("truetype");
}

@font-face {
  font-family: "Yeong";
  font-weight: thin;
  src: url("/fonts/Yeong.ttf") format("truetype");
}

@font-face {
  font-family: "Bom";
  font-weight: thin;
  src: url("/fonts/Bom.ttf") format("truetype");
}

@font-face {
  font-family: "Haepa";
  font-weight: thin;
  src: url("/fonts/Haepa.ttf") format("truetype");
}